<h1>Hello from MVC</h1>
<style>
    h1 {
        color: red
    }
</style>
<script>
alert("Hello from MVC View")
</script>
<!--Block Code-->
@{
    int x = 5;
    int y = 10;
    int z = x + y;
}
<!--Inline Code-->
<h2>@z</h2>

@if(z > 10)
{
    <h1>@z > 10</h1>
}
else
{
    <h2>@z less than 10 </h2>
}
@for(int i=0 ; i < 10; i++)
{
    <li>@i</li>
}


